//=========
// Icon.rc
//=========

#pragma once


//=======
// Using
//=======

#include "Windows/Resources/Icons/Icon.h"


//=======
// Icons
//=======

ICONS_BEGIN

ICON(ICO_APP, 1, "Stringify.ico")

ICONS_END
